.admin-main {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .left {
    width: 14%;
    background: rgba(0, 0, 0, 0.84);

    .profile{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      color: white;
    }

    .menu-list {


      li {
        font-size: 17px;
        color: white;
        display: flex;
        align-items: center;

        a {
          color: white;
          padding: 25px 25px 25px 20px;
          width: 100%;
          height: 100%;
        }
      }

      li:hover {
        background: red;
      }
    }


  }

  .content-area {
    width : 86%;
    padding: 4%;

    .content-body{
    }
  }

}